h1 {
    color:white;
    text-align: center;
  }
  h2 {
    font-style: italic;
    text-align: center;
    color: teal;
  }
  p {
    color:burlywood;
  }
  body {
    background-color: orangered;
  }
  ul.a {
    list-style-type: circle;
  }
  ol.c p {
    list-style-type: upper-roman}